BackEnd/src/wsdl/172.22.8.108/MDMQ_SAO_CoreTributario/ConsultaSAOService.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://172.22.8.108/MDMQ_SAO_CoreTributario/ConsultaSAOService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntidadesSAO.EstructurasCT"/><xs:import schemaLocation="http://172.22.8.108/MDMQ_SAO_CoreTributario/ConsultaSAOService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EntidadesSAO.EstructurasCoactivas"/><xs:element name="ConsultarPagos"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="sao_orden_pago_id" type="xs:long"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultarPagosResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ConsultarPagosResult" nillable="true" type="q1:OrdenPago" xmlns:q1="http://schemas.datacontract.org/2004/07/EntidadesSAO.EstructurasCT"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultarDetalleOrdenPago"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="sao_orden_pago_id" type="xs:long"/></xs:sequence></xs:complexType></xs:element><xs:element name="ConsultarDetalleOrdenPagoResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ConsultarDetalleOrdenPagoResult" nillable="true" type="q2:DetalleOrdenPago" xmlns:q2="http://schemas.datacontract.org/2004/07/EntidadesSAO.EstructurasCoactivas"/></xs:sequence></xs:complexType></xs:element></xs:schema>