BackEnd/src/wsdl/172.22.8.108/MDMQ_SAO_CoreTributario/ConsultaSAOService.svc.xsd_xsd3.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntidadesSAO.EstructurasCoactivas" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/EntidadesSAO.EstructurasCoactivas"><xs:complexType name="DetalleOrdenPago"><xs:sequence><xs:element minOccurs="0" name="codigo_resultado" type="xs:int"/><xs:element minOccurs="0" name="estado" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="fecha_ultimo_pago" nillable="true" type="xs:dateTime"/><xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="predio_patente" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="sao_numero_resolucion_baja" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="sao_numero_resolucion_facilidad" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="sao_observacion" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="sao_orden_pago_id" type="xs:long"/><xs:element minOccurs="0" name="tiene_facilidad" type="xs:boolean"/><xs:element minOccurs="0" name="tipo_facilidad" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="valor_pagado" nillable="true" type="xs:decimal"/><xs:element minOccurs="0" name="valor_pendiente" type="xs:decimal"/></xs:sequence></xs:complexType><xs:element name="DetalleOrdenPago" nillable="true" type="tns:DetalleOrdenPago"/></xs:schema>